<footer class="bg-dark text-white pt-4 pb-2">
  <div class="container">
    <div class="row text-center text-md-start">

      <div class="col-md-3 mb-3">
        <h5>ERHL</h5>
        <p>Restoring Nature & Healthy Living.</p>
      </div>

      <div class="col-md-3 mb-3">
        <h6>Quick Links</h6>
        <ul class="list-unstyled">
          <li><a href="about.html" class="text-white text-decoration-none">About</a></li>
          <li><a href="projects.html" class="text-white text-decoration-none">Projects</a></li>
          <li><a href="contact.html" class="text-white text-decoration-none">Contact</a></li>
        </ul>
      </div>

      <div class="col-md-3 mb-3">
        <h6>Contact</h6>
        <p>Email: info@erhl.org</p>
        <p>Phone: +265 997 261 596</p>
        <p>Address: 123 Green Street, Eco City</p>
      </div>

      <div class="col-md-3 mb-3">
        <h6>Follow Us</h6>
        <div class="social-links">
          <a href="https://www.facebook.com/ERHL" target="_blank" class="social-icon me-3">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://www.instagram.com/ERHL" target="_blank" class="social-icon me-3">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.twitter.com/ERHL" target="_blank" class="social-icon">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="/frontend/admin.html" class="admin-dot">.</a>
        </div>
      </div>

    </div>

    <hr>
    <p class="text-center small">© 2026 ERHL. All rights reserved. By Olla Tech.</p>
  </div>
</footer>